@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body > *{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.err{
    color: red;
    font-size: .9em;
}

/* Login ---------------------------------------*/

main{
    min-height: calc(100vh - 55px);
    display: flex;
    padding: 20px;
}

main > div:first-of-type{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 29%;
    min-width: 450px;
    margin-right: 20px;
}
main > div:first-of-type > img {
    max-height: 300px;
    object-fit: cover;
    width: 60%;
    border-radius: 20px;
}
main > div:first-of-type > img:nth-of-type(1) {
    position: relative;
    translate: 0px 80px;
    z-index: -10;
}
main > div:first-of-type > img:nth-of-type(2) {
    translate: 90px;
}
main > div:first-of-type > img:nth-of-type(3) {
    position: relative;
    translate: 30px -120px;
    z-index: -10;
}

main > div:nth-of-type(2){
    width: 71%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div form {
    width: 80%;
    min-width: 480px;
    display: grid;
    gap: 0 20px;
    grid-template-columns: 1fr 1fr;
}

main > div > form > h3{
    font-size: 3em;
    margin: 0 0 10px 0;
    grid-column: 1/-1;
}

form div p:first-of-type{
    font-size: 1.3em;
    margin-bottom: 8px;
}
form input {
    width: 100%;
    height: 2.5em;
    padding-left: 5px;

    font-size: 1.1em;

    border-radius: 5px;
    border: 2px solid #ccc;
}

#cont34{
    grid-column: 1;
    grid-row: 5;
}

#cont4{
    grid-column: span 2;
}
#cont5{
    grid-column: 2;
    grid-row: 3;
}
#cont6{
    grid-column: 2;
    grid-row: 5;
}
#cont7{
    grid-column: span 2;
}

input:focus{
    border: 2px solid #6161db;
    outline: none;
}

form button{
    grid-column: span 2;
    min-height: 40px;

    border-radius: 10px;
    background-color: #6161DB;
    border: 2px solid #6161DB;
    color: #f2f2f2;
    width: 100%;
    margin: 10px 0;

    font-size: 1.3em;

    transition: background-color 0.5s;
}

form button:hover{
    background-color: #272727;
    cursor: pointer;
    border: 2px solid #6161DB;
    color: #f2f2f2;
    text-shadow: 0px 0px 20px #6161DB;

    box-shadow: 0px 0px 30px #6161DB;
}

@media (max-width: 1100px) and (min-width: 770px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main > div:first-of-type{
        width: 100%;
        min-height: 330px;
        flex-direction: row;
        align-items: start;
        justify-content: center;
    }
    main > div:first-of-type > img {
        max-height: 250px;
        object-fit: cover;
        width: 30%;
        border-radius: 20px;
    }
    main > div:first-of-type > img:nth-of-type(1) {
        translate: 20%;
    }
    main > div:first-of-type > img:nth-of-type(2) {
        translate: 0 30%;
    }
    main > div:first-of-type > img:nth-of-type(3) {
        translate: -10% 10%;
    }

    main > div:nth-of-type(2){
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form h3{
        text-align: center;
    }
    
}

@media (max-width: 770px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main > div:first-of-type{
        width: 100%;
        min-height: 200px;
        flex-direction: row;
        align-items: start;
        justify-content: center;
    }
    main > div:first-of-type > img {
        max-height: 150px;
        object-fit: cover;
        width: 30%;
        border-radius: 20px;
    }
    main > div:first-of-type > img:nth-of-type(1) {
        translate: 20%;
    }
    main > div:first-of-type > img:nth-of-type(2) {
        translate: 0 30%;
    }
    main > div:first-of-type > img:nth-of-type(3) {
        translate: -10% 10%;
    }

    main div form {
        display: grid;
        min-width: 300px;
        width: 100%;
        max-width: 700px;
        gap: 0 20px;
        grid-template-columns: 1fr;
    }

    form h3{
        text-align: center;
    }
    
    #cont4{
        grid-column: span 1;
    }
    #cont5{
        grid-column: 1;
        grid-row: 3;
    }
    #cont6{
        grid-column: 1;
        grid-row: 6;
    }
    #cont7{
        grid-column: span 1;
    }
    form button{
        grid-column: span 1;
    }
    #cont10{
    grid-column: 1;
	}
}