<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/trabajadores/header.css}">
    <link rel="stylesheet" th:href="@{/css/trabajadores/categoriasForm.css}">
    
    <link rel="icon" type="image/x-icon" href="images/imagenFavicon.png">

    <title>Gestión Categorias</title>

</head>

<body>

    <header>
        <p><b><a th:href="@{/trabajadores}">FRUTTI DI VESTITI</a></b></p>

        <nav>
            <div>
                <ul>
                    <li><a th:href="@{/trabajadores/usuarios}">Clientes</a></li>
                    <li><a th:href="@{/trabajadores/productos}">Productos</a></li>
                    <li><a th:href="@{/trabajadores/pedidos}">Pedidos</a></li>
                    <li><a th:href="@{/trabajadores/categorias}">Categorias</a></li>
                    <li><a th:href="@{/trabajadores/trabajadores}" sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Trabajadores</a></li>
                </ul>
            </div>
            <img th:src="@{/images/header/menu.png}" alt="Img menu" id="imgAbrir"/>
        </nav>

        <img th:src="@{/images/header/logoSimple.png}" alt="Imagen Logo Simple">

        <form class="btnLogin" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <span th:remove="tag" sec:authentication="name">Ikers</span>
            <input type="submit" value="Logout" />
        </form>
    </header>
    <!-- ---------------------NO CAMBIAR - ARRIBA------------------------------ -->

    <main>
        <div id="contenido">
            <h2 th:text="${mod} ? 'Modificar Categoria' : 'Visualizar Categoria'"></h2>
        </div>

        <form th:action = "@{/trabajadores/categorias/save}"
        		th:object = "${categoriaDTO}"
        		method = "POST">
            <h3>Datos de la Categoría</h3>

            <div>
                <div th:if="${mod}" id="cont1">
                    <p>Id</p>
                    <input th:field="*{id}" type="text" readonly/>
                </div>

                <div id="cont2">
                    <p>Nombre</p>
                    <input th:field="*{nombre}" type="text" name="nombre"/>
                    <p class="err" id="errNombre" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
                </div>
            </div>

            <!--Enlaces para volver atrás-->
            <div id="btns">
                <a th:href="@{/trabajadores/categorias}">Volver a Categorias</a>
                <button th:if="${mod}">Modificar</button>
                <button th:if="${add}">Añadir</button>
            </div>
        </form>
    </main>

	<script th:src="@{/js/jquery/jquery-3.6.3.min.js}"></script>
    <script th:src="@{/js/scriptHeader.js}"></script>
</body>

</html>