<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/trabajadores/header.css}">
    <link rel="stylesheet" th:href="@{/css/trabajadores/pedidosForm.css}">
    <link rel="stylesheet" th:href="@{/css/trabajadores/gestion.css}">
    <link rel="icon" type="image/x-icon" href="images/imagenFavicon.png">

    <title>Gestión Pedidos</title>

</head>

<body>

    <header>
        <p><b><a th:href="@{/trabajadores}">FRUTTI DI VESTITI</a></b></p>

        <nav>
            <div>
                <ul>
                    <li><a th:href="@{/trabajadores/usuarios}">Clientes</a></li>
                    <li><a th:href="@{/trabajadores/productos}">Productos</a></li>
                    <li><a th:href="@{/trabajadores/pedidos}">Pedidos</a></li>
                    <li><a th:href="@{/trabajadores/categorias}">Categorias</a></li>
                    <li><a th:href="@{/trabajadores/trabajadores}">Trabajadores</a></li>
                    <img th:src="@{/images/header/cerrar.png}" alt="Img menu" />
                </ul>
            </div>
            <img th:src="@{/images/header/menu.png}" alt="Img menu" />
        </nav>

        <img th:src="@{/images/header/logoSimple.png}" alt="Imagen Logo Simple">
    </header>
    <!-- --------------------------NO CAMBIAR - ARRIBA------------------------------ -->

    <main>
        <div id="contenido">
            <h2 th:text="${mod} ? 'Modificar Pedido' : 'Visualizar Pedido'"></h2>
        </div>

        <form th:action = "@{/trabajadores/pedidos/save}"
        		th:object = "${pedidoDTO}"
        		method = "POST">
            <h3>Datos del Pedido</h3>

            <div>
                <div id="cont1">
                    <p>Estado</p>
                    <select name="selectEstado" th:field="*{estado}">
                    	<option th:value="'en curso'">En curso</option>
                    	<option th:value="'entregado'">Entregado</option>
                    </select>
                </div>
                
                <div id="cont2">
                    <p>Número de Pedido</p>
                    <input th:field="*{numeroFactura}" type="text" name="numPedido"/>
                    <p id="errNumPedido" class="err"></p>
                </div>
                
                <div id="cont3">
                    <p>Fecha de Emision</p>
                    <input th:field="*{fechaEmision}" th:value="${#dates.format(fechaEmision, 'dd/MM/yyyy')}" type="datetime" name="fechaEmision" readonly/>
                    <p id="errFechaEmision" class="err"></p>
                </div>
                
                <div id="cont4">
                    <p>Fecha de Entrega Prevista</p>
                    <input th:field="*{fechaEntrega}" th:value="${#dates.format(fechaEntrega, 'dd/MM/yyyy')}" type="datetime" name="fechaEntrega"/>
                    <p id="errFechaEntrega" class="err"></p>
                </div>

                <div id="cont5">
                    <p>Precio total</p>
                    <input th:field="*{precio}" type="number" name="precio" readonly/>
                    <p id="errPrecio" class="err"></p>
                </div>

                <div id="cont6">
                    <p>Productos del pedido</p>
                    <p th:if="${listaPedidoProductoDTO.size() <= 0}">Este pedido no tiene Productos</p>
                    <table th:if="${listaPedidoProductoDTO.size() > 0}">
                    	<tr>
		                    <th>ID</th>
		                    <th>Numero de Producto</th>
		                    <th>Nombre</th>
                		</tr>
		                <tr th:each = "pedidoProductoDTO : ${listaPedidoProductoDTO}">
		                    <td th:text=${pedidoProductoDTO.productoDTO.id}></td>
		                    <td th:text=${pedidoProductoDTO.productoDTO.numeroProducto}></td>
		                    <td th:text=${pedidoProductoDTO.productoDTO.nombre}></td>
		                </tr>
                    </table>
                </div>
                
                <input th:field="*{id}" type="text" readonly hidden/>
            </div>

            <!--Enlaces para volver atrás-->
            <div>
                <a th:href="@{/trabajadores/pedidos}">Volver a Pedidos</a>
                <button th:if="${mod}" th:href="@{/trabajadores/pedidos/save}">Modificar</button>
            </div>
        </form>
    </main>

	<script th:src="@{/js/jquery/jquery-3.6.3.min.js}"></script>
    <script th:src="@{/js/scriptHeader.js}"></script>
</body>

</html>