<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/trabajadores/header.css}">
    <link rel="stylesheet" th:href="@{/css/trabajadores/productosForm.css}">
    
    <link rel="icon" type="image/x-icon" href="images/imagenFavicon.png">

    <title>Gestión Productos</title>

</head>

<body>

    <header>
        <p><b><a th:href="@{/trabajadores}">FRUTTI DI VESTITI</a></b></p>

        <nav>
            <div>
                <ul>
                    <li><a th:href="@{/trabajadores/usuarios}">Clientes</a></li>
                    <li><a th:href="@{/trabajadores/productos}">Productos</a></li>
                    <li><a th:href="@{/trabajadores/pedidos}">Pedidos</a></li>
                    <li><a th:href="@{/trabajadores/categorias}">Categorias</a></li>
                    <li><a th:href="@{/trabajadores/trabajadores}" sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Trabajadores</a></li>
                </ul>
            </div>
            <img th:src="@{/images/header/menu.png}" alt="Img menu" id="imgAbrir"/>
        </nav>

        <img th:src="@{/images/header/logoSimple.png}" alt="Imagen Logo Simple">

        <form class="btnLogin" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <span th:remove="tag" sec:authentication="name">Ikers</span>
            <input type="submit" value="Logout" />
        </form>
    </header>
    <!-- --------------------------NO CAMBIAR - ARRIBA------------------------------ -->

    <main>
        <div id="contenido">
            <h2 th:text="${mod} ? 'Modificar Producto' : 'Añadir Producto'"></h2>
        </div>

        <form th:action = "@{/trabajadores/productos/save}"
        		th:object = "${productoDTO}"
        		enctype="multipart/form-data"
        		method = "POST">

            <div>
                <div th:if="${mod}" id="cont1">
                    <p>Id</p>
                    <input th:field="*{id}" type="text" readonly/>
                </div>
                
                <div id="cont2">
                    <p>Numero de Producto</p>
                    <input th:field="*{numeroProducto}" type="text"/>
               		<p id="errNumProducto" class="err" th:if="${#fields.hasErrors('numeroProducto')}" th:errors="*{numeroProducto}"></p>
                </div>
                
                <div id="cont3">
                    <p>Nombre</p>
                    <input th:field="*{nombre}" type="text" id="nombre"/>
                    <p class="err" id="errNombre" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
                </div>
                
                <div id="cont4">
                    <p>Talla</p>
                    <input th:field="*{talla}" type="text"/>
                    <p class="err" id="errTalla" th:if="${#fields.hasErrors('talla')}" th:errors="*{talla}"></p>
                </div>
                
                <div id="cont5">
                    <p>Stock</p>
                    <input th:field="*{stock}" type="text"/>
                    <p class="err" id="errStock" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></p>
                </div>

                <div id="cont6">
                    <p>Color</p>
                    <input th:field="*{color}" type="color" name="color"/>
                </div>
                
                <div id="cont7">
                    <p>Precio</p>
                    <input th:field="*{precio}" type="text"/>
                    <p class="err" id="errPrecio" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></p>
                </div>

                <div id="cont8">
                    <p>Categoria</p>
                    <select name="selectCat" th:field="*{categoria}">
                    	<option th:each="c : ${listaCategoriasDTO}" 
                    			th:selected = "${c.id} == *{categoria.id}"
                    			th:name = "categoria"
                    			th:value = "${c.id}"
                    			th:text = "${c.nombre}"/>
                    </select>
                </div>
                
                <div id="cont9">
                    <p>Descripcion</p>
                    <input th:field="*{descripcion}" type="text" name="descripcion"/>
                </div>
                
                <div id="cont10">
                    <p>Imagenes</p>
                    <div class="contenedor_imagenes">
                    	<div class="imagen" th:each="imagen : *{listaImagenesDTO}">
                    		<input type="hidden" th:name="'listaImagenesDTO[0].id'" th:value="${imagen.id}" />
                    		<input type="hidden" th:name="'listaImagenesDTO[0].nombre'" th:value="${imagen.nombre}" />
                    		<input type="hidden" th:name="'listaImagenesDTO[0].url'" th:value="${imagen.url}" />
                    		<img alt="Imagen" th:src="@{'/images/productos/' + ${imagen.url}}" />
                    	</div>
                    </div>
                    
                    <div id="div--inputImagen"> <!-- th:if="${!mod}" -->
                        <label for="inputImagen" class="custom-file-upload">
                          <span>Seleccionar archivo</span>
                          <input type="file" name="file" id="inputImagen" />
                        </label>
                      </div>
                </div>
            </div>

            <!--Enlaces para volver atrás-->
            <div id="btns">
                <a th:href="@{/trabajadores/productos}">Volver a Productos</a>
                <button th:if="${mod}">Modificar</button>
                <button th:unless="${mod}">Añadir</button>
            </div>
        </form>
    </main>

	<script th:src="@{/js/jquery/jquery-3.6.3.min.js}"></script>
    <script th:src="@{/js/scriptHeader.js}"></script>
</body>

</html>