<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/clientes/header.css}">
    <link rel="stylesheet" th:href="@{/css/clientes/index.css}">
    <link rel="stylesheet" th:href="@{/css/clientes/footer.css}">
    <link rel="icon" type="image/x-icon" href="images/imagenFavicon.png">
    <script th:src="@{https://kit.fontawesome.com/ddbdd94323.js}" crossorigin="anonymous"></script>

    <title>LogIn - Iker Cuadros</title>

</head>

<body>

    <header>
		<nav>
            <div>
                <ul>
                    <li><a th:href="@{/index}">Inicio</a></li>
                    <li><a th:href="@{/tienda}">Productos</a></li>
                    <li><a href="#">Mis Pedidos</a></li>
                    <li><a th:href="@{/perfil}">Mi perfil</a></li>
                    <img th:src="@{/images/header/cerrar.png}" alt="Img menu" />
                </ul>
            </div>
            <img th:src="@{/images/header/menu.png}" alt="Img menu" />
        </nav>

		<p>
			<b>Frutti di Vestiti</b>
		</p>

		<nav>
			<div>
				<div id="favoritos">
					<a><img th:src="@{/images/header/guardados.png}"
						alt="Imagen guardados" /></a>
				</div>

				<div id="carrito">
					<a th:href="@{/tienda/carrito}"><img
						th:src="@{/images/header/carrito.png}" alt="Imagen carrito" /></a>
				</div>
				
				<div class="btnLogin" sec:authorize="isAnonymous()">
					<a th:href="@{/login}">No está logueado</a>
				</div>
				
				<div class="btnLogin" sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" method="post">
						<p th:inline="text"><span th:remove="tag" sec:authentication="name"/></p>
						<input type="submit" value="Logout"/>
					</form>
				</div>
			</div>
		</nav>
	</header>
    <!-- --------------------------NO CAMBIAR - ARRIBA------------------------------ -->

    <main>
        <!-- Imagen de fondo -->
        <img th:src="@{/images/clienteindex/tiendaindex.jpg}" alt="Imagen de Inicio">
        <div>
            <article>
                <h2>Bienvenido a <br> <span>Frutti di Vestiti</span></h2>
                <p>Nuestra web de ropa es un espacio en línea lleno de estilo y moda.
                    Ofrecemos una amplia variedad de prendas para hombres, mujeres y niños,
                    desde ropa casual hasta ropa formal. Contamos con una gran selección de
                    productos de alta calidad, diseñados con las últimas tendencias en mente.
                    Además, nuestra página web es fácil de navegar y hacer compras en línea,
                    con opciones seguras de pago y envíos a todas partes del mundo. Ofrecemos
                    también un servicio al cliente excepcional y políticas de devolución flexibles.
                    Si estás buscando ropa de calidad y estilo, ¡Frutti di Vestiti web es el lugar
                    ideal para ti!</p>
            </article>

            <a th:href="@{/tienda}">Comprar ahora</a>
        </div>
    </main>

    <!-- --------------------------NO CAMBIAR - ABAJO------------------------------- -->
    <footer>
        <img th:src="@{/images/footer/fondoFooter.png}" alt="">

        <div id="div--footerbox">
            <div>
                <img th:src="@{/images/footer/logoComplejo.png}" alt="Imagen del logo">
            </div>

            <div>
                <p>"Es tu oportunidad para explorar estilos del pasado y reinventarlos para el presente".</p>
            </div>

            <div id="div--rrss">
                <a href="https://www.instagram.com/ikerqs8_/">
                    <i class="fa fa-instagram"></i><span>ikerqs8_</span>
                </a>

                <a href="https://www.linkedin.com/in/iker-cuadros-ruiz-ab6891231/">
                    <i class="fa-brands fa-linkedin"></i><span>Iker Cuadros</span>
                </a>

                <a href="https://twitter.com/ikers890">
                    <i class="fa-brands fa-twitter"></i></i><span>ikers890</span>
                </a>

                
            </div>

            <img th:src="@{/images/footer/trianguloFooter.png}" alt="">
        </div>

        <div id="div--finalData">
            <div id="div--copyright">
                <p>© 2023 Frutti Di Vestiti Company Inc.</p>
            </div>

            <div id="div--authory">
                <p>Website designed by <a th:href="@{https://www.instagram.com/ikerqs8_/}"><b>Iker Cuadros</b></a></p>
                <p>Coded by <a href="@{https://www.instagram.com/ikerqs8_/}"><b>Iker Cuadros</b></a></p>
            </div>
        </div>
	</footer>

	<script th:src="@{/js/jquery/jquery-3.6.3.min.js}"></script>
    <script th:src="@{/js/scriptHeader.js}"></script>
</body>

</html>