<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/clientes/header.css}">
<link rel="stylesheet" th:href="@{/css/clientes/carrito.css}">
<link rel="stylesheet" th:href="@{/css/clientes/footer.css}">
<script th:src="@{https://kit.fontawesome.com/ddbdd94323.js}"
	crossorigin="anonymous"></script>
<title>Carrito</title>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a th:href="@{/index}">Inicio</a></li>
				<li><a th:href="@{/tienda}">Productos</a></li>
				<li><a th:href="@{/pedidos}">Mis Pedidos</a></li>
				<li><a th:href="@{/perfil}">Mi perfil</a></li>
			</ul>
			<img id="imgAbrir" th:src="@{/images/header/menu.png}" alt="Abrir" />
		</nav>

		<p>
			<b>Frutti di Vestiti</b>
		</p>

		<nav>
			<a><img th:src="@{/images/header/guardados.png}"
				alt="Imagen guardados" /></a> <a th:href="@{/tienda/carrito}"> <img
				th:src="@{/images/header/carrito.png}" alt="Imagen carrito" /></a> <a
				class="btnLogin" id="bt--login" sec:authorize="isAnonymous()"
				th:href="@{/login}">LogIn</a>

			<form class="btnLogin" sec:authorize="isAuthenticated()"
				th:action="@{/logout}" method="post">
				<span th:remove="tag" sec:authentication="name">Ikers</span> <input
					type="submit" value="Logout" />
			</form>
		</nav>
	</header>

	<!-- ***************************************** -->

	<main>
		<div id="cont--noProducto"
			th:if="${#lists.isEmpty(listaCarritoProductosDTO)}">
			<p>Todavía no hay productos en el carrito</p>
			<img th:src="@{/images/ilustraciones/imagenNoProductos.png}" alt="">
		</div>

		<div th:if="${!#lists.isEmpty(listaCarritoProductosDTO)}" id="cont--productos">
			<div id="cont--producto"
				th:each="cpDTO : ${listaCarritoProductosDTO}">
				<a
					th:href="@{/tienda/producto/carrito/deleteAll/{idCarritoProducto} (idCarritoProducto=${cpDTO.id})}">
					<i class="fa fa-x"></i>
				</a> <a
					th:href="@{/tienda/producto/{idProducto} (idProducto=${cpDTO.productoDTO.id})}">
					<img
					th:src="@{/images/productos/{imagen} (imagen=${cpDTO.productoDTO.listaImagenesDTO[0].url})}"
					alt="gorra" />
				</a>
				<!--Debería hacerlo grid el div--masDatos-->
				<div id="div--masDatos">
					<p th:text=${cpDTO.productoDTO.nombre}>Nombre producto</p>

					<div>
						<p>Color</p>
						<input type="color" th:value=${cpDTO.productoDTO.color} disabled />
					</div>

					<div>
						<p>Talla</p>
						<p th:text=${cpDTO.productoDTO.talla}>L</p>
					</div>

					<div>
						<p>Cantidad</p>
						<p th:text=${cpDTO.cantidad}>-</p>
					</div>

					<a
						th:href="@{/tienda/producto/carrito/minus/{idCarritoProducto} (idCarritoProducto=${cpDTO.id})}">
						<i class="fa fa-minus"></i>
					</a>

					<p th:text="${cpDTO.productoDTO.precio}+€">19.99€</p>

					<a
						th:href="@{/tienda/producto/carrito/plus/{idCarritoProducto} (idCarritoProducto=${cpDTO.id})}">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
		</div>

		<div id="div--ticket">
			<img th:src="@{/images/header/logoSimple.png}"
				alt="logo fruttidivestiti">
			<p>Resumen</p>

			<div id="div--precios">
				<div>
					<p>Subtotal:</p>
					<p th:text="${subtotal}+€">0€</p>
				</div>

				<div>
					<p>Gastos de envios:</p>
					<p th:text="${envio}+€">0€</p>
				</div>

				<hr>

				<div>
					<p>Total:</p>
					<p th:text="${total}+€">0€</p>
				</div>
			</div>

			<a th:if="${!#lists.isEmpty(listaCarritoProductosDTO)}"
				th:href="@{/tienda/carrito/{idCarrito}/tramite (idCarrito=${listaCarritoProductosDTO[0].carritoDTO.id})}">Comprar</a>
		</div>
	</main>

	<!-- ***************************************** -->
	<footer>
		<img th:src="@{/images/footer/fondoFooter.png}" alt="">

		<div id="div--footerbox">
			<div>
				<img th:src="@{/images/footer/logoComplejo.png}"
					alt="Imagen del logo">
			</div>

			<div>
				<p>"Es tu oportunidad para explorar estilos del pasado y
					reinventarlos para el presente".</p>
			</div>

			<div id="div--rrss">
				<a href="@{https://www.instagram.com/ikerqs8_/}"> <i
					class="fa fa-instagram"></i><span>ikerqs8_</span>
				</a> <a
					href="@{https://www.linkedin.com/in/iker-cuadros-ruiz-ab6891231/}">
					<i class="fa-brands fa-linkedin"></i><span>Iker Cuadros</span>
				</a> <a href="@{https://twitter.com/ikers890}"> <i
					class="fa-brands fa-twitter"></i></i><span>ikers890</span>
				</a>


			</div>

			<img th:src="@{/images/footer/trianguloFooter.png}" alt="">
		</div>

		<div id="div--finalData">
			<div id="div--copyright">
				<p>© 2023 Frutti Di Vestiti Company Inc.</p>
			</div>

			<div id="div--authory">
				<p>
					Website designed by <a
						th:href="@{https://www.instagram.com/ikerqs8_/}"><b>Iker
							Cuadros</b></a>
				</p>
				<p>
					Coded by <a href="@{https://www.instagram.com/ikerqs8_/}"><b>Iker
							Cuadros</b></a>
				</p>
			</div>
		</div>
	</footer>
</body>

<script th:src="@{/js/scriptHeader.js}"></script>
</html>