@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body > *{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Login ---------------------------------------*/

main{
    height: calc(100vh - 55px);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    max-width: 500px;

    overflow: scroll;
    scrollbar-width: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    padding: 30px;
    border-radius: 10px;
    background-color: #1e1e1ee4;
    border: 2px solid #1e1e1e;

    width: 60%;
    height: 50%;
}

form h3 {
    padding: 5px 40px;
    border-radius: 10px;
    background-color: #1e1e1e;
    border: 2px solid #1e1e1e;
    color: #fff;
    text-align: center;
}

form p {
    color: #ffffff;
    font-weight: 500;
    margin-left: 0px;
}

form div{
    width: 100%;
}
form > p{
    text-align: center;
}
form div input {
    width: 100%;
    height: 25px;
    padding-left: 5px;
}

form button {
    font-family: 'Poppins', sans-serif;

    background-color: #6161DB;
    color: #f2f2f2;
    border-radius: 10px;
    border: 2px solid #1e1e1e;
    padding: 10px 30px;
    margin-top: 20px;

    cursor: pointer;
}

form a:link{
    cursor: pointer;
    color: #f2f2f2;
    text-decoration: none;
}
form a:visited{
    cursor: pointer;
    color: #6161DB;
    text-decoration: none;
}
