@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

main{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    object-fit: cover;
}

main{
    height: calc(100vh - 55px);
    position: relative;
}

main > img{
    position: absolute;
    top: 0;
    left: 0;

	filter: brightness(75%);

    height: 100%;
    width: 100%;
    z-index: -1;
}
main > div{
    display: grid;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

main > div > article{
    margin: 0 auto;
    width: 70%;
    height: 80%;
    min-height: 200px;

    background-color: #f2f2f2;
    border-radius: 10px;

    overflow: scroll;
    scrollbar-width: none;
    
    padding: 2% 4%;
    text-align: justify;
}

main div article h2{
    font-size: calc(1em + 1.6vw);
    text-align: center;

    padding-bottom: 5%;
}
main div article span{
    color: #6161DB;
}

main div article p{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    font-size: calc(.4em + 1vw);
    text-align: center;

    padding-bottom: 5%;
}

main div button{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 30%;
    height: 50%;
    min-height: 40px;

    border-radius: 10px;
    background-color: #6161DB;
    border: 0px;
    color: #f2f2f2;
    font-size: calc(.7em + 1vw);

    transition: all .5s;
}

main div button:hover{
    background-color: #272727;
    cursor: pointer;
    border: 2px solid #6161DB;
    color: #f2f2f2;
    text-shadow: 0px 0px 20px #6161DB;

    box-shadow: 0px 0px 50px #6161DB;
}

@media (min-width: 770px) {
    main > div{
        display: grid;
        grid-template-columns: 5fr 3fr;
    }

    main div button{
        width: 50%;
        height: 10%;
        min-height: 40px;
        max-height: 250px;
    }
}