<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
   	<link rel="stylesheet" th:href="@{/css/trabajadores/header.css}">
    <link rel="stylesheet" th:href="@{/css/trabajadores/gestion.css}">
    <link rel="stylesheet" th:href="@{/css/trabajadores/gestionUsuarios.css}">
    <link rel="icon" type="image/x-icon" href="images/imagenFavicon.png">

    <title>Gestión de Clientes</title>

</head>

<body>

    <header>
        <p><b><a th:href="@{/trabajadores}">FRUTTI DI VESTITI</a></b></p>

        <nav>
            <div>
                <ul>
                    <li><a th:href="@{/trabajadores/usuarios}">Clientes</a></li>
                    <li><a th:href="@{/trabajadores/productos}">Productos</a></li>
                    <li><a th:href="@{/trabajadores/pedidos}">Pedidos</a></li>
                    <li><a th:href="@{/trabajadores/categorias}">Categorias</a></li>
                    <li><a th:href="@{/trabajadores/trabajadores}" sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Trabajadores</a></li>
                </ul>
            </div>
            <img th:src="@{/images/header/menu.png}" alt="Img menu" id="imgAbrir"/>
        </nav>

        <img th:src="@{/images/header/logoSimple.png}" alt="Imagen Logo Simple">

        <form class="btnLogin" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <span th:remove="tag" sec:authentication="name">Ikers</span>
            <input type="submit" value="Logout" />
        </form>
    </header>
    <!-- --------------------------NO CAMBIAR - ARRIBA------------------------------ -->

    <main>
        <div id="cont--tableVoid"
			th:if="${#lists.isEmpty(listaUsuariosDTO)}">
			<p>Todavía no hay Usuarios</p>
			<img th:src="@{/images/ilustraciones/noTablas.png}" alt="">
		</div>

        <div th:if="${!listaUsuariosDTO.isEmpty()}">
            <h2>Gestión de Clientes</h2>

            <form>
                <select name="opcionesClientes">
                    <option value="" selected hidden disabled>Atributos del cliente</option>
                    <option value="id">Id</option>
                    <option value="nif">NIF</option>
                    <option value="nombre">Nombre</option>
                    <option value="apellido1">Apellido</option>
                    <option value="correo">Correo</option>
                </select>

                <input type="text" placeholder="Buscar..." />

                <button>Buscar</button>
            </form>

            <table id="tabla--usuarios">
                <tr>
                    <th id="titulo--id">ID</th>
                    <th id="titulo--nif">Nif</th>
                    <th id="titulo--nombre">Nombre</th>
                    <th id="titulo--ap1">Primer apellido</th>
                    <th id="titulo--correo">Correo</th>
                    <th id="titulo--pedidos">Pedidos</th>
                    <th id="titulo--editar">Editar</th>
                    <th id="titulo--eliminar">Eliminar</th>
                </tr>
                <tr th:each = "usuarioDTO : ${listaUsuariosDTO}">
                    <td class="valor--id" th:text=${usuarioDTO.id}>1</td>
                    <td class="valor--nif" th:text=${usuarioDTO.nif}>46075461K</td>
                    <td class="valor--nombre" th:text=${usuarioDTO.nombre}>David</td>
                    <td class="valor--ap1" th:text=${usuarioDTO.apellido1}>Martinez</td>
                    <td class="valor--correo" th:text=${usuarioDTO.correo}>David@iescamp.es</td>
                    <td class="valor--pedidos">
                        <a th:href="@{/trabajadores/usuarios/{idUsuario}/pedidos (idUsuario=${usuarioDTO.id})}">Pedidos</a>
                    </td>
                    <td class="valor--editar">
                        <a th:href="@{/trabajadores/usuarios/update/{idUsuario} (idUsuario=${usuarioDTO.id})}"><img alt="lapiz" th:src="@{/images/trabajadores/edit.png}" width="20px"></a>
                    </td>
                    <td class="valor--eliminar">
                        <a th:href="@{/trabajadores/usuarios/delete/{idUsuario} (idUsuario=${usuarioDTO.id})}"><img alt="papelera" th:src="@{/images/trabajadores/delete.png}" width="20px"></a>
                    </td>
                </tr>
            </table>
        </div>

        <!--Enlaces para volver atrás-->
        <div>
            <a th:href="@{/trabajadores}">Volver al inicio</a>
        </div>
    </main>

	<script th:src="@{/js/jquery/jquery-3.6.3.min.js}"></script>
    <script th:src="@{/js/scriptHeader.js}"></script>
</body>

</html>