@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Estilos generales del footer */

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    height: 100vh;
}

footer>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}

#div--footerbox {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    margin-top: 5vh;
    background-color: #f2f1ec;
    width: 95%;
    border-radius: 5px;
    height: 55vh;
}

#div--footerbox>img {
    position: absolute;
    width: 45px;
    height: 45px;
    bottom: 10px;
    right: 10px;
    object-fit: cover;
}

#div--footerbox>div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

#div--footerbox>div:first-of-type>img {
    width: 80%;
}

#div--footerbox>div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#div--footerbox>div:nth-of-type(2)>p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #2D2D2D;
}

#div--rrss {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#div--rrss a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #2c2c2c;
    padding: 15px;
}

#div--rrss i {
    margin-right: 5px;
    font-size: 20px;
}

#div--rrss span {
    margin-right: 5px;
    font-size: 20px;
}

#div--finalData {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3vh;
}

#div--authory {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#div--copyright>p,
#div--authory>p {
    color: #f2f1ec;
}

#div--rrss a:hover {
    color: #6161DB;
    font-weight: 500;
}


@media (max-width: 770px) {


    /* Estilos generales del footer */
    footer {
        position: relative;
        font-family: 'Poppins';
    }
    #div--footerbox div:first-of-type{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -10;
    }

    #div--footerbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    #div--footerbox>div:nth-of-type(2)>p {
        font-size: 20px;
    }

    #div--rrss i {
        margin-right: 5px;
        font-size: 20px;
    }

    #div--rrss span {
        margin-right: 5px;
        font-size: 20px;
    }

}

@media (max-width: 584px) {
    #div--footerbox>div:first-of-type {
        height: 50%;
    }

    #div--footerbox>div:first-of-type>img {
        width: 80%;
    }

    #div--footerbox>div:nth-of-type(2) {
        display: none;
    }

    #div--rrss i {
        margin-right: 5px;
        font-size: 20px;
    }

    #div--rrss span {
        margin-right: 5px;
        font-size: 20px;
    }

    #div--finalData {
        width: 95%;
        min-width: 275px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        margin: 3vh;
    }

}