@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Poppins', sans-serif;
    height: calc(100vh - 70px);
    position: relative;
    display: grid;
    grid-template-columns: 4fr 3fr;
    padding: 2vw;
    width: 100%;
}

main img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(75%);
    z-index: -1;
}

#div--izq {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#div--izq > article {
    width: 100%;
    max-width: 800px;
    height: 70%;
    min-height: 200px;
    max-height: 575px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 15px;
    text-align: justify;
    overflow-y: scroll;
    scrollbar-width: none;
}

#div--izq article h2 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    text-align: center;
    padding-bottom: 5%;
}

#div--izq article span {
    color: #6161db;
}

#div--izq article p {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    text-align: center;
    padding-bottom: 5%;
}

#div--der {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#div--der a {
    display: flex;
    align-items: center;
    justify-content: center;

    width:60%;
    max-width: 600px;
    height: 20%;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #f2f2f2;
    background-color: #6161dbaa;
    border: 2px solid #6161db;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

#div--der a:hover {
    background-color: #6161db;
    color: #f2f2f2;
}

@media (max-width: 957px) {
    main {
        grid-template-columns: 1fr;
    }

    #div--izq article h2 {
        font-size: 1.8rem;
        text-align: center;
        padding-bottom: 5%;
    }

    #div--izq p{
        font-size: 15.9px !important;
    }
}