* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    object-fit: cover;
}

main {
    min-height: calc(100vh - 96px);
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';
}

/* div--buscador **************************************/
#div--buscador {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div--buscador div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 11px;

    border: 2px solid #6161DB;
    background-color: #6161db;

    cursor: pointer;
}

#div--buscador div:hover {
    background-color: #6161DB;
}

#div--buscador div img {
    width: 35px;
    height: 35px;
}

#div--buscador input {
    width: 100%;
    height: 39px;
    padding-left: 5px;
    border-radius: 11px;

    border: 0;
    background-color: #6161db4f;
    color: #2c2c2c;
    font-weight: bold;
}

#div--buscador input:focus {
    outline: none;
}

/*div--filtros **************************************/

#div--filtros {
    width: 90%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

#div--filtros>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

#div--filtros div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#div--filtros div>* {
    font-family: 'Poppins';
    font-weight: 700;
    text-align: center;
    width: 30%;
    height: 30px;

    background-color: #6161db;
    border-radius: 5px;
    color: #f2f2f2;
    text-decoration: none;

    cursor: pointer;
}

#div--filtros div>select {
    border: none;
}
#div--filtros option {
    text-transform: capitalize;
}



#div--filtros div>a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*div--productos *************************************/
#div--productos {
    width: 90%;
    padding: 10px 0;
}

#div--productos>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

#cont--productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cont--producto {
    position: relative;
    margin: 10px 20px;
    width: 90%;
    max-width: 250px;
    height: 325px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.dress--icon {
    width: 100%;
    height: 45%;
    border-radius: 20px 20px 0px 0px;
}

.like--icon {
    position: absolute;
    width: 28.45px;
    height: 25px;
    right: 15px;
    top: 15px;
    z-index: 10;
    cursor: pointer;
}

#cont--producto>div {
    padding: 5% 10%;
}

#cont--producto>div>p:first-of-type {
	text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    color: #2D2D2D;
}
#cont--producto>div>p:nth-of-type(2) {
	text-transform: capitalize;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    color: #2D2D2D;
}

#cont--producto>div>div {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cont--producto>div>div>p {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;

    color: #2D2D2D;
}
#cont--producto>div>div>p:after {
    content: "€";
}

.buy--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    background: #F2F2F2;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
}

.buy--icon:hover {
    background: #D9D9D9;
}

.view--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;

    background: #F2F2F2;
    border: 2px solid #6161DB;
    border-radius: 50%;
    cursor: pointer;
}

.view--icon:hover {
    background: rgba(97, 97, 219, 0.5);
}

.buy--icon>img {
    width: 25px;
    height: 25px;
}

.view--icon>img {
    width: 30px;
    height: 30px;
}