@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Header ---------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header {
    height: 10vh;
    font-family: 'Poppins', sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

header > p{
    display: block;
    font-size: 2em;
    color: #6161db;
    cursor: pointer;
}
header > p a:link, header > p a:visited, header > p a:active{
	color: #6161db;
}

nav:first-of-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body nav:first-of-type a{
    color: black;
    cursor: pointer;
}

body nav:first-of-type div ul{
    display: flex;
}
body nav:first-of-type div ul li{
    margin: 0 10px;
}
body nav:first-of-type div ul li a{
    font-size: 1.2em;
}
body nav:first-of-type div ul li:hover a{
    color:#6161db;
}
body nav:first-of-type div ul li:active a{
    color:#6161db;
}

/* Imagen de Menú */
nav:first-of-type > img:first-of-type{
    display: none;
    cursor: pointer;
    position: absolute;
    top: calc(10vh/2 - 17px);
    left: 35px;
    width: 35px;
}
/* Imagen de cerrar Menú */
body nav:first-of-type div ul > img{
    display: none;
    cursor: pointer;
    position: absolute;
    top: calc(10vh/2 - 17px);
    right: 20px;
}

header > img{
    display: block;
    object-fit: cover;
    height: 70%;
}

@media (max-width: 950px) {
    header {
        min-width: 360px;
        justify-content: end;
    }

    header > p {
        font-size: 1.7em;
        margin-right: 35px;
    }

    header > img {
        display: none;
    }

    nav:first-of-type{
        padding: 0;
    }

    nav:first-of-type > img:first-of-type{
        display: block;
    }

    body nav:first-of-type div ul{
        position: absolute;
        z-index: 1;
        top: 0;
        left: -100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background-color: #27272ce8;
        backdrop-filter: blur(15px);
        /* width: 0; */
        opacity: 0;
        height: 100vh;
    }
    
    body nav:first-of-type div ul > img{
        display: block;
    }

    body nav:first-of-type div ul li{
        padding: 25px 0;
        font-size: 1.2em;
    }

    body nav:first-of-type div ul li a{
        color: #f2f2f2;
    }
}
